<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    
    <div>
        <h1 class="display-4">Error 404 not found</h1>
        <hr>

        <h2 class="aviso" style="color: deeppink;">Página não encontrada!!</h2>

        <button style="background-color: greenyellow; box-shadow: grey; border: none; width: 90px; height: 30px; " ><a href="/">Voltar</a></button>
    </div>

    <div>
        <img src="/img/undraw_page_not_found_su7k.png"  style="width: 600px; height: 600px;" alt="A imagem mostra o simbolo da página não encontrada 404. ">
    </div>
    
</body>
</html>